
<div class="container-md text-center">
  <div class=" mt-3">
    <h3 class="text-center">Product info  :</h3>
  </div>
  <div class="mt-4 container-md row justify-content-center">
    <div class="col-8">
      <div class="table-responsive">
        <table class="table table-sm" id="mytable">

      <tr>

        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Discount</th>
        <th scope="col" ><span id="amounts " class="amounts">subtotal </span></th>
      </tr>

    <tbody>
      <tr>
        <td>T-shirt</td>
        <td>
          <input type="text" class="form-control price col-2"   value="10" disabled >$
        </td>
        <td>
          <div class="button-container " >
            <button type="button"  (click)="min()" class="btn btn-danger cart_qty_min" value="-">-</button>
            <input type="text" class="form-control qty"  placeholder="0" [value]="quantity" min="0" name="qty"  >
            <button type="button"  (click)="plus()" class="btn btn-primary cart_qty_plus" value="+" >+</button>
            </div>
        </td>
        <td>
          <input type="text" class="form-control discount col-2"  placeholder="0" value="0" disabled >%
        </td>
        <td>
          <input type="text" class="form-control amounts col-3"   value="0" disabled  id="amounts">$
        </td>
      </tr>
      <tr>
        <td>Skit</td>
        <td>
          <input type="text" class="form-control price col-2"   value="15" disabled >$
        </td>
        <td>
          <div class="button-container " >
            <button type="button"  (click)="min()" class="btn btn-danger cart_qty_min" value="-">-</button>
            <input type="text" class="form-control qty"  [value]="quantity" min="0" >
            <button type="button"  (click)="plus()"  class="btn btn-primary cart_qty_plus" value="+" >+</button>
            </div>
        </td>
        <td>
          <input type="text" class="form-control discount col-2"  placeholder="0" value="0" disabled >%
        </td>
        <td>
          <input type="text" class="form-control amounts col-3"   value="0" disabled  id="amounts">$
        </td>
      </tr>
    </tbody>

    <tfoot >
      <tr>
        <td colspan="4"></td>
        <td align="right" style="text-align:center">
          <strong >Total = $<span id="total" class="total">0</span></strong>
        </td>
      </tr>
    </tfoot>
  </table>
  </div>
</div>
</div>
  <div class="mt-5 row container-md text-center ">

    <div class="col-4 text-right">
      <button type="button" class="btn btn-secondary ">Cancel</button>
    </div>

    <div class="col-4 text-right">
      <button type="button"  class="btn btn-primary ">Order</button>
    </div>
  </div>

</div>


<!-- <script >
  alert('hello');
  $(document).ready(function(){
    alert("hello");
    update_amount();
    $('.qty, .price').on('Keyup keypress blur change',
    function(e){
      update_amount();
    });
  });
  function update_amount(){
    var sum =0;
    $('#mytable > tbody > tr').each(function(){
      var qty =$(this).find('.qty').val();
      var price =$(this).find('.price').val();
      var amounts =(qty*price)
      sum+=amounts;
      $(this).find('.amounts').text(''+amounts);
    });
    $('.total').text(sum);
  }

  var incrementQty;
  var deincrementQty;
  var plusbtn=$("cart_qty_plus");
  var minbtn=$("cart_qty_min");
  var incrementQty=plusbtn.click(function(){
    var $n =$(this)
    .parent(".button-container")
    .find('.qty');
    $n.val(Number($n.val())+1);
    update_amount();
  });

  var deincrementQty=minbtn.click(function(){
    var $n =$(this)
    .parent(".button-container")
    .find('.qty');
    var Qtyval =Number($n.val());
    if(Qtyval>0){
      $n.val(Qtyval-1);
    }
    update_amount();
  });

</script> -->


