h3{
  /* text-decoration: underline; */

  color: rgb(0, 0, 1);
  text-shadow: 2px 2px 4px #9a9595;
}
body{
  font-family: Roboto;
}
.tr .mt-3{
  margin-top: 50px;
}
.table tr td{
  vertical-align: middle;
}
.button-container{
  display: flex;
  align-items: center;


}
.button-container .form-control{

  max-width: 80px;
  text-align: center;
  display:inline-block;
  margin: 0px 5px;
}
#mytable .form-control{
  width: auto;
  display: inline-block;
}
tr td .button-container{
  display: inline-block;
}
/* .col-md-6{
  padding: 30px 20px;
  margin: auto;
  width: 70%;
  height: 80%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 5px 10px 18px #888888;;
} */

